<div class="container-popup">

  <p class="title">Je ne trouve pas le parking 404 par ici !</p>
  <div class="container-txt">

    <p class="subtitle">Vous seriez-vous perdu ?</p>
    <p class="text"> Pourquoi ne pas utiliser notre recherche par adresse en cliquant sur le logo au centre
      de la barre de menu pour lancer une recherche par adresse de destination ?
    </p>

    <button [routerLink]="['/home/map']" routerLinkActive="router-link-active" class="btn-check">
      <p class="txt-button">Retour à la carte</p>
    </button>
  </div>
</div>
