button {
  font-size: 0.8em !important;
}

.btn-cross {
  border: 2px solid var(--main-color) !important;
  background-color: transparent;
}

.btn-check {
  background-color:  var(--main-color) !important;
}

button {
  width: auto;
}