



<nav class="d-flex justify-content-around align-items-center">
    <div class="userAccount">
        <img (click)="displayProfil()" class="iconNav" src="assets/navbar/userAccount.svg" alt="icon user" />
    </div>
    <div class="cercle d-flex justify-content-center">
        <img (click)="displayAddressBar()" class="iconNav w-75" src="assets/logo/favicon.svg" alt="icon logo" />
    </div>
    <div class="preferences">
        <img class="iconNav" src="assets/navbar/preferences.svg" alt="icon preferences" />
    </div>
</nav>










